<section id="about_us" class="with-medical">
    <div class="container">
        <div class="row">
           <div class="col-lg-6 col-md-12">
                <img src="assets/images/About1.jpeg" alt="">
            </div>
            <div class="col-lg-6 col-md-12 txtr">
                <h4>Why choose Health Care with <br>
                 <span>DXC Hospital</span>   
                </h4>
                <p>We are a one-stop solution for outpatient health care. The Family Doctor Clinics in Salem were born for bridging the gaps in the current healthcare ecosystem with the adoption of best practices and the latest technology. The family doctor has touched over 2 Million lives and is always looking forward to serve many more. We provide trustworthy and affordable healthcare for you and your family in your neighbourhood! </p>
                <p>Our occupational health centres are beneficial for the employees as our doctors and nurses are compassionate, caring and fully invested in the patient. Our health centres are cost effective and our healthcare plans result in enhanced productivity, reduced sickness absenteeism, and an overall healthier and happier workforce. Our Hospital is operational 365 days a year, including Sundays and Government Holidays.</p>
            </div>
            
        </div>
    </div>
</section>
