<div id="services" class="key-features">
    <div class="container">
        <div class="inner-title">

            <h2>Our Key Features</h2>
            <p>Take a look at some of our key features</p>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fas fa-hospital-alt"></i>
                    <h5>Newest Technologies</h5>
                    <p>Consistent care with CDS leads to better patient outcomes.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fa fas fa-user-md"></i>
                    <h5>Experianced Doctors</h5>
                    <p>Our team consist of experienced Doctors who are experts in the area of specialization.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class='fa fas fa-briefcase-medical'></i>
                    <h5>High Customer Satisfaction</h5>
                    <p>Customer satisfaction is our main attitude and patients happiness with treatment and services.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fa fas fa-capsules"></i>
                    <h5>Pharma Pipeline</h5>
                    <p>Our solutions are designed and manufactured according to highest quality standards.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fa fas fa-prescription-bottle-alt"></i>
                    <h5>Pharma Team</h5>
                    <p>Skilled Paramedical Professionals provide patients with required drug treatment.</p>
                </div>
            </div>



            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fa far fa-thumbs-up"></i>
                    <h5>High Quality treatments</h5>
                    <p>Provide optimal care with quick access to relevant problems and information.</p>
                </div>
            </div>
        </div>

    </div>

</div>
