<div *ngIf="!submitted">
<div class="container">
    <div class="wrapper">
      <div class="title"><div style="font: normal 29px 'Cookie', cursive;font-weight: bold;"> DXC <span style="color:#e0ac1c ;">Hospital</span></div> &nbsp; Login Form</div>
      <form action="#">
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Email" required #username>
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" required #password>
        </div>
        
        <div class="row button">
            <input type="submit" (click)="onSubmit(username.value, password.value)" value="Login">
        </div>
        <div class="signup-link">Not a member? <a routerLink="signup" (click)="show()">Signup now</a></div>
      </form>
    </div>
  </div>
  </div>
  <div *ngIf="submitted">
    <div *ngIf="isAuthenticated; else failureMsg">
      <app-main></app-main>
    </div>
    <div *ngIf="isAuthenticated1">
      <app-admin></app-admin>
    </div>
    <ng-template #failureMsg>
      
    </ng-template>
  </div>
  <router-outlet></router-outlet>